<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.css"
      integrity="sha256-8BrtNNtStED9syS9F+xXeP815KGv6ELiCfJFQmGi1Bg="
      crossorigin="anonymous"
    />
    <style>
      body {
        padding-top: 40px;
      }
    </style>
  </head>
  <body>
    <div id="root" class="container">
      <form
        id="form"
        @submit.prevent="onSubmit"
        @keydown="form.errors.clear($event.target.name)"
      >
        <div class="control">
          <label for="name" class="label">Project Name</label>
          <input
            type="text"
            id="name"
            name="name"
            class="input"
            v-model="form.name"
          />
          <span
            class="help is-danger"
            v-if="form.errors.has('name')"
            v-text="form.errors.get('name')"
          ></span>
        </div>

        <div class="control">
          <label for="description" class="label">Project Description</label>
          <input
            type="text"
            id="description"
            name="description"
            class="input"
            v-model="form.description"
          />
          <span
            class="help is-danger"
            v-if="form.errors.has('description')"
            v-text="form.errors.get('description')"
          ></span>
        </div>

        <div class="control">
          <button class="button is-primary" :disabled="form.errors.any()">
            Create
          </button>
        </div>
      </form>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"
      integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./main.js"></script>
  </body>
</html>
